{% extends 'base.html' %} 
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <div class="card p-5 m-5">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="mb-4 text-center"><b>Login</b></legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group mt-3">
        <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
      </form>
      <div class="mt-3 pt-3">
        <small class="text-muted">
          Need an account? <a class="ml-2" href="{%url 'register'%}">Create account</a>
        </small>
      </div>
    </div>
  </div>
{% endblock content %}